#1.
Question 1:A retail store wants to identify customers who make frequent purchases. Given the dataset below, write a Python program to:
Group customers by their IDs.


Calculate the total purchase amount per customer.


Identify the top 3 customers with the highest purchase amounts.


Dataset:
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

Expected Output:
Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

Top 3 Frequent Customers:
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [9]:
# Answer 1:
import pandas as pd
data = pd.DataFrame({'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]})

total = data.groupby('Customer_ID')['Purchase_Amount'].agg(Purchase_Amount = 'sum')


print(f"Total Purchases per Customer:\n {total}")

top_3 = total.nlargest(3, columns = ['Purchase_Amount'])
print(f"Top 3 frequent Customers:\n{top_3}")

Total Purchases per Customer:
              Purchase_Amount
Customer_ID
101                      520
102                      600
103                      480
104                      300
105                      400
Top 3 frequent Customers:
             Purchase_Amount
Customer_ID
102                      600
101                      520
103                      480

#2. Predicting House Prices with Linear Regression
A real estate company wants to predict house prices based on square footage. Write a Python program to:
Train a Linear Regression model.


Predict house prices for given test data.


Dataset:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

Test Data: [[1800], [2800]]
Expected Output:
Predicted Prices:
[360000. 560000.]

In [14]:
# Answer:2
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

df = pd.DataFrame(data)
print(df)

X = df[['Square_Feet']] 
Y = df['Price']

regressor = LinearRegression()
regressor.fit(X,Y)

X_test = [[1800],[2800]]
Y_pred = regressor.predict(X_test)
print(f"Predicted Prices:\n{Y_pred}")

   Square_Feet   Price
0         1500  300000
1         2000  400000
2         2500  500000
3         3000  600000
4         3500  700000
Predicted Prices:
[360000. 560000.]

#3:
Identifying Frequent Labels in a Dataset
A company wants to identify the top 3 most common categories in a dataset. Given the dataset below, write a Python program to:
Group the data by Category.


Count the total occurrences of each category.


Identify the top 3 most frequent categories.


Dataset:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

Expected Output:

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

In [10]:
# Answer : 3
import pandas as pd
data = pd.DataFrame({'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]})
data
total = data.groupby(["Category"])['Value'].count().reset_index(name = 'Counts')

print(f"Total Occurrences per Category:\n {total}")
top_3 = total.head(3)
top_3

Total Occurrences per Category:
   Category  Counts
0        A       4
1        B       3
2        C       3
3        D       1
4        E       1

  Category  Counts
0        A       4
1        B       3
2        C       3

#4.
Predicting Missing Values Using Mean Imputation
A dataset contains missing values in the Age column. Write a Python program to:
Replace missing values with the mean of the column.


Display the updated DataFrame.


Dataset:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

Expected Output:

Original Data:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie   NaN
3  David  35.0
4    Eve   NaN

Data after Imputation:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie  30.0
3  David  35.0
4    Eve  30.0

In [4]:
# Answer:4
data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]})
print(f"Original Data:\n {data}")
mean_ = data.mean()
data.fillna(mean_,inplace = True)
print('\n')
print(f"Data after imputation:\n {data}")

Original Data:
       Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3    David  35.0
4      Eve   NaN


Data after imputation:
       Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

C:\Users\Hxtreme\anaconda3\envs\AIML\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """

# 5: Implementing a Simple Linear Regression Model
You are given a dataset with Experience (years) and Salary ($). Write a Python program to:
Train a Linear Regression model.


Predict the salary for an individual with 6 years of experience.


Dataset:
import pandas as pd

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)

Expected Output (Example):

Predicted Salary for 6 years of experience: $55000

In [25]:
# Answer:5
import pandas as pd 
from sklearn.linear_model import LinearRegression

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)
print(df)

X = df[['Experience']]
y = df['Salary']

regressor = LinearRegression()
regressor.fit(X,y)

X_test = [[6]]
y_pred = regressor.predict(X_test)
y_pred
print(f"Predicted Salary for 6 years of experience: ${y_pred[0]}")

   Experience  Salary
0           1   30000
1           2   35000
2           3   40000
3           4   45000
4           5   50000
Predicted Salary for 6 years of experience: $55000.0

In [ ]:
data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)

Expected Output (Example):
Prediction for email with 200 words: Spam

In [24]:
# Answer:6
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)
df

X = df[['word_count']]
y = df['is_spam']

regressor = DecisionTreeClassifier()
regressor.fit(X,y)

X_test = [[200]]
y_pred = regressor.predict(X_test)
print(f"Prediction for email with 200 words:{y_pred[0]}")

Prediction for email with 200 words:spam

C:\Users\Hxtreme\anaconda3\envs\AIML\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)